<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Înregistrare</title>
		<meta charset="utf-8"/>
		<meta name="description" content="Pagina de înregistrare.">
		<meta name="keywords" content="username, parolă">
		<meta name="author" content="Banea Sonia-Gabriela">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/resurse/imagini/icon.png"/>
		<link rel="stylesheet" type="text/css" href="/resurse/css/stil.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<%- include("../fragmente/header.ejs"); %>
		</header>
		<main>
			</br>
			</br>
			<h1>Oops! Această pagină nu există! Întoarce-te la pagina principală!</h1>
			<a href="/index">Pagina principală</a>
		</main>
		<footer>
			<%- include("../fragmente/footer.ejs"); %>
		</footer>
	</body>
</html>