<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Filme - We Need to Talk About Kevin</title>
		<meta charset="utf-8"/>
		<meta name="keywords" content="film, recenzie, dramă, mister, thriller,">
		<meta name="description" content="O scurtă recenzie a filmului We Need to Talk About Kevin">
		<meta name="author" content="Banea Sonia-Gabriela">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="https://i.imgur.com/zL0ROZO.png"/>
		<link rel="stylesheet" type="text/css" href="/resurse/css/stil.css"/>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header.ejs"); %>
		</header>
		<main>
			<section>
				<h1>We Need to Talk About Kevin - recenzie</h1>
				<img class='imagine' src='/resurse/imagini/we_need_to_talk_about_kevin.gif' alt="imagine film" title="we_need_to_talk_about_kevin">
					<ul>
						<li>Anul: 2011</li>
						<li>Genuri: dramă, mister, thriller</li>
						<li>Durată: 1h 52min</li>
						<li>Director: Lynne Ramsay</li>
						<li>Actori principali: Tilda Swinton, John C. Reilly, Ezra Miller</li>
					</ul>
					<div></div>
					<p>In ansamblu We Need to Talk About Kevin este un film care isi merita pe deplin nota de azi de 7.7 de pe IMDB, desi este loc pentru mai bun. Facem referire aici la unghiurile de filmare si la imaginile din trecut si prezent. Acestea genereaza un haos, filmul devenind astfel greu de urmarit pe alocuri. Totodata, nu s-a insistat suficient de mult pe conturarea celor doua personaje principale initiale: Eva si Franklin. Decorul de asemenea reprezinta aspecte care puteau fi imbunatatite si mai mult. In ciuda acestora filmul reuseste totusi sa surprinda.</p>
			</section>
		</main>
		<footer>
			<%- include("../fragmente/footer.ejs"); %>
		</footer>
	</body>
</html>